/* Code example */
/* https://www.w3schools.com/howto/howto_js_treeview.asp */

/* Style reference */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Getting_started */

/* Catalog node list default style */
.catalog_node_list {
  /* Remove margins from the parent ul */
  margin-top: 0;
  /* Remove default symbol */
  list-style-type: none;
}

/* While hovering catalog node with url */
.catalog_node_url.have_url:hover {
  /* Show previously removed underline*/
  text-decoration: underline;
}

/* Create arrow for node that have sub node */
/* Common style: ▶︎ ▼ ■ */
.catalog_node.have_sub_node::before {
  /* Reference: Tree view on any Mozilla MDN page */
  content: "▶︎";
  font-size: 0.6rem;
  display: inline-block;
  width: 20px;
}

/* Restore disc symbol for node that no sub node */
.catalog_node.no_sub_node {
  list-style-type: disc;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
